[Desktop Entry]
Type=Service
MimeType=application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.oasis.opendocument.spreadsheet;text/csv;
Actions=pdf;xlsx;ods;csv;
X-KDE-Submenu=Convert to
X-KDE-Priority=TopLevel
Icon=document-export

[Desktop Action pdf]
Name=PDF
Icon=application-pdf
Exec=fileconvert office:pdf %F

[Desktop Action xlsx]
Name=Excel (XLSX)
Icon=x-office-spreadsheet
Exec=fileconvert office:xlsx %F

[Desktop Action ods]
Name=OpenDocument (ODS)
Icon=x-office-spreadsheet
Exec=fileconvert office:ods %F

[Desktop Action csv]
Name=CSV (first sheet)
Icon=text-csv
Exec=fileconvert office:csv %F
