[Desktop Entry]
Type=Service
MimeType=application/msword;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.oasis.opendocument.text;application/rtf;text/rtf;
Actions=pdf;docx;odt;
X-KDE-Submenu=Convert to
X-KDE-Priority=TopLevel
Icon=document-export

[Desktop Action pdf]
Name=PDF
Icon=application-pdf
Exec=fileconvert office:pdf %F

[Desktop Action docx]
Name=Word (DOCX)
Icon=x-office-document
Exec=fileconvert office:docx %F

[Desktop Action odt]
Name=OpenDocument (ODT)
Icon=x-office-document
Exec=fileconvert office:odt %F
