[Desktop Entry]
Type=Service
MimeType=application/pdf;
Actions=png;jpg;
X-KDE-Submenu=Convert to
X-KDE-Priority=TopLevel
Icon=document-export

[Desktop Action png]
Name=PNG (one per page)
Icon=image-png
Exec=fileconvert pdf:png %F

[Desktop Action jpg]
Name=JPG (one per page)
Icon=image-jpeg
Exec=fileconvert pdf:jpg %F
