[Desktop Entry]
Type=Service
MimeType=application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.oasis.opendocument.presentation;
Actions=pdf;pptx;odp;
X-KDE-Submenu=Convert to
X-KDE-Priority=TopLevel
Icon=document-export

[Desktop Action pdf]
Name=PDF
Icon=application-pdf
Exec=fileconvert office:pdf %F

[Desktop Action pptx]
Name=PowerPoint (PPTX)
Icon=x-office-presentation
Exec=fileconvert office:pptx %F

[Desktop Action odp]
Name=OpenDocument (ODP)
Icon=x-office-presentation
Exec=fileconvert office:odp %F
